@tailwind base;
@tailwind components;
@tailwind utilities;

.w-100 {
  width: 450px;
}

.max-w-100 {
  max-width: 550px;
}
.dropDownlistCategoryul {
  display: none;
  z-index: 20;

}
.dropDownlistCategoryul li{
  transition: all 0.2s linear;
}
.dropDownlistBrandul  li{
  transition: all 0.2s linear;
}
.dropDownlistCategory:hover .dropDownlistCategoryul {
  display: flex;


}
.dropDownlistBrandul {
  z-index: 20;
  display: none;


}

.dropDownlistBrand:hover .dropDownlistBrandul {
   display: flex;
  
 

}

@media screen and (max-width: 550px) {
  .SearchInput {
    transition: height 0.6s, width 0.4s;
    border-radius: 30px;
    width: 0;
    height: 0;
  }
  .SearchButton:hover .SearchInput {
    display: block;
    width: 100px;
    transition: all 0.4s;
    height: 24px;
  }
}
@media (min-width: 550px) and (max-width: 850px) {
  .SearchInput {
    transition: height 0.6s, width 0.4s;
    border-radius: 30px;
    width: 0;
    height: 0;
  }
  .SearchButton:hover .SearchInput {
    display: block;
    width: 250px;
    transition: all 0.4s;
    height: 24px;
  }
}
@media (min-width: 850px) and (max-width: 2050px) {
  .SearchInput {
    transition: height 0.6s, width 0.4s;
    border-radius: 30px;
    width: 300px;
    padding: 0 10px;
  }
}

#myHeader {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30; /* Ensures header stays above other content */
}

#header-2 {
  transition: all 1s ease;
  height: 40px;
  
}
#header-1 {
  z-index: 400;
  transition: all 0.1s ease;
  background: #000;
  height: 40px;
}
/* 
.contact-us {
  font-family: 'Sans', sans-serif;
  color: #ffffff;
}

.hero-section {
  position: relative;
  color: #ffffff;
}

.hero-section img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.contact-form {
  background-color: #2d3748; 
}

.contact-info {
  background-color: #4a5568; 
}

.contact-info .info-item {
  margin-bottom: 1rem;
}

.map-container {
  margin-top: 1rem;
}

.map-container iframe {
  border: none;
}
 */
/* 
.admin-panel {
  display: flex;
}

nav {
  width: 200px;
  background-color: #1f2937; 
  height: 100vh;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 20px 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
}

nav ul li a:hover {
  background-color: #ff7e1a; 
}

.content {
  flex-grow: 1;
  padding: 20px;
  background-color: #f9fafb; 
}
 */